html {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #323232;
    font-family: 'Roboto', sans-serif;
}

h4 {
    color: aliceblue;
}

.section-headings {
    color: aliceblue;
    text-align: center;
    padding-top: 3rem;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #605c5c;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3c3c;
}

