#header-container {
    margin-top: 4rem;
    background: rgb(53,34,140);
    background: -moz-linear-gradient(336deg, rgba(53,34,140,1) 0%, rgba(18,228,213,1) 64%);
    background: -webkit-linear-gradient(336deg, rgba(53,34,140,1) 0%, rgba(18,228,213,1) 64%);
    background: linear-gradient(336deg, rgba(53,34,140,1) 0%, rgba(18,228,213,1) 64%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= "#35228c",endColorstr="#12e4d5",GradientType=1);
}

@media (max-width: 48.1rem) {
    #header-image {
        width: 100%;
        border-radius: 25%;
        margin-bottom: 2rem;
    }

    #heading {
        text-align: center;
        margin-top: 15vh;
        margin-bottom: 2vh;
        height: 15rem;
    }

    #heading h2 {
        color: #212121;
    }

    #heading h4 {
        color: aliceblue;
    }
}

@media (min-width: 48rem) {

    #header-container .col-lg-6 {
        margin: 9rem 0 5rem;
    }

    #header-image {
        width: 100%;
        border-radius: 25%;
        margin-bottom: 5rem;
    }

    #heading {
        text-align: start;
        margin-top: 3rem;
        margin-bottom: 7rem;
        height: 15rem;
    }

    #heading h2 {
        color: #212121;
    }

    #heading h4 {
        color: aliceblue;
    }
}
